/* .item:nth-child(1) {
        background: red !important;
        border: 2px solid red !important;
}

.item:nth-child(1):hover {
    margin-right: 30px;
}

.item:nth-child(2):hover {
    margin-right: 30px;
}

.item:nth-child(3):hover {
    margin-right: 30px;
}

.item:nth-child(3):hover {
    margin-right: 30px;
} */

.game--card-0:hover {
    margin-right: 200px !important;  
}

.game--card-1:hover {
    margin-right: 200px !important;
   }
  
   .game--card-2:hover {
    margin-right: 200px !important;
   }
  