@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

swiper-container {
  z-index: 0;
}

.swipes:not(:hover) {
border: 1px solid red;
margin-left: 50px;;
}

.swiper-wrapper {
  z-index: 0 !important;
}

.swipes:hover {
  border: 1px solid yellow;
  translate: 20px;;
  }

  .swiper-slide-active {
    border: 1px solid red;
    margin-right: 100px !important;

  }
