.sliders0:hover {
    margin-right: 20px !important;
}

.sliders1:hover {
    margin-right: 20px !important;
}
.sliders2:hover {
    margin-right: 20px !important;
}
.sliders3:hover {
    margin-right: 20px !important;
}
